body {
    background-color: #f3f3f3;
}

.mod {
    padding-left: .5rem;
    padding-right: .5rem;
}

.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-item {
    height: 100px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: .5rem;

    background-color: #ffffff;
}