html,
body {
    height: 100%;
}

.tips {
    margin: 0 .5rem;
    padding-top: 3rem;
}

.tips-content {
    padding: 2rem 0;
    color: #ffffff;
    background-color: #d74300;
    border-radius: .3rem;
    text-align: center;
}

.redirect {
    text-indent: -999999px;
    font-size: .8rem;
}

.redirect.show {
    text-indent: 0;
}

.index {
    padding-left: .2rem;
    color: #ffffff
}